/* Show full navbar on desktop, hide menu button and sidebar */
@media screen and (min-width: 768px) {
  .nav-links {
    display: flex;
  }

  .menu-button,
  .nav-sidebar {
    display: none !important;
  }
}

/* Show hamburger menu on mobile, hide nav-links */
@media screen and (max-width: 767px) {
  .nav-links {
    display: none !important;
  }

  .menu-button {
    display: block;
    position: absolute;
    background-color: white;
    top: 50px;
    right: 30px;
    cursor: pointer;
    z-index: 1000;
  }

  .nav-sidebar {
    display: flex; /* Will be controlled via JS toggle */
   } 
}
