/* Base (already desktop-friendly due to default styles in style.css) */

/* --- Mobile Responsive Design --- */
@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    padding-left: 10%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow-x:hidden;
  }
  nav .navbar {
    justify-content: space-between;
    padding: 10px 20px;
  }

  .navbar .logo {
    margin-left: 0;
  }

  .navbar .nav-links {
    display: none;
  }

  .menu-button {
    display: block;
    font-size: 24px;
    color: white;
    margin-left: 80px;
  }

  .row {
    /* flex-direction: column; */
    padding-top: 350px;
    height: auto;
    text-align: center;
    display: flex;
  }

  .col {
    flex-basis: 100%;
    padding: 10px;
  }

  h1 {
    font-size: 36px;
    padding-top: 20px;
    padding-left: 60px;
  }

  #caption {
    font-size: 16px;
    line-height: 22px;
    padding: 10px 20px;
  }

  .card {
    width: 125px;
    height: 120px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: auto auto;
  }

  .nav-sidebar {
    width: 200px;
  }

  .nav-sidebar a {
    font-size: 14px;
  }

  .about .content {
    flex-direction: column;
    align-items: center;
  }

  .about .textBox,
  .about .imgBox {
    width: 100%;
    text-align: center;
  }

  .about .imgBox img {
    width: 80%;
    max-width: 300px;
  }
}
